body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fefefe;

}
#login-form{
  margin-top:50px;
}
#login-container {
  width: 600px;
  margin: 50px auto;
}

#login-container button {
  padding: 6px 40px 6px 40px;

  margin-top: 10px;
}

#login-container h1{
  font-size:24px;
}

#login-container h2{
  font-size:18px;
}

.step{
  margin-top:10px;
}
#login-container #forgot-password {
  float: left;
  margin-left: 10px;
}

em.error {
  clear: both;
  color: #f00;
  display: block;
  font-size: 12px;
  margin: 5px 0 0 0px;
}
button i {
  padding-left: 8px;
}